[submodule "modules/subworkflows"]
	path = modules/subworkflows
	url = https://github.com/nexomis/nf-subworkflows.git
[submodule "modules/config"]
	path = modules/config
	url = https://github.com/nexomis/nf-config.git
