manifest {
  author = "Julien Fouret"
  version = "1.0.0"
  defaultBranch = "main"
  name = "compress_fq"
  description = "Compress FQ"
}

params {
  help = false
  input_dir = null
  out_dir = null
  drop_order = false
  drop_ids = false
  hash_algo = ""
  n_bytes = 0
  quality_mode = "lossless"
  biocontainers_registry = "public.ecr.aws"
}

includeConfig "config/process.config"
