manifest {
  author = "Julien Fouret"
  version = "1.0.5"
  defaultBranch = "main"
  name = "compress_fq"
  description = "Compress FQ"
  homePage        = 'https://github.com/nexomis/compress_fq'
  mainScript      = 'main.nf'
  nextflowVersion = '>=23.04.2'
}

params {
  help = false
  input_dir = null
  output_dir = null
  drop_order = false
  drop_ids = false
  hash_algo = ""
  n_bytes = 0
  quality_mode = "lossless"
}

includeConfig "modules/config/process/labels.config"
includeConfig "modules/config/profiles.config"
