
process {
    withName: "SPRING_COMPRESS"
        if (params.drop_ids && (!params.drop_order)) {
            ext.args = "--no-ids"
        }
        if ((!params.drop_ids) && params.drop_order) {
            ext.args = "-r"
        }
        if (params.drop_ids && params.drop_order) {
            ext.args = "-r --no-ids"
        }
}
