process {
  maxRetries = 5
  errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
  withName: "SPRING_.*" {
    cpus = params.ncpus
    memory = { 1.GB * params.mem_spring * (0.5 + (0.5 * task.attempt)) }
  }
  withName: "CHECK" {
    cpus = 1
    memory = { 1.GB * params.mem_check * (0.5 + (0.5 * task.attempt)) }
  }
}
